.DS_Store
.vscode/
/genbin/
/gendata/*.format
out
publish
tmp/
/tmp
!vendor/github.com/hashicorp/packer/packer/tmp/
report.out
report.xml
.idea
**/*.iml
env.list
Session.vim
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

**/.hg/cache/*
**/__debug_bin
*.pyc

/genproto/internal_api.pb

/tags
.*.swp

# yotest
*.test
*.log

docker.image
